In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv("titanic.csv")
print(data.info())
print(data.isnull())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
     Survived  Pclass   Name    Sex    Age  Siblings/Spouses Aboard  \
0       False   False  False  False  False                    False
1       False   False  False  False  False                    False
2       False   False  False  False  False                    False
3       False   False  False  False  False                    False
4       False   False  False  False  False                    False
..        ...     ...    ...    ...    ...                      ...
882     False   False  False  False  False                    False
883     False   False  False  False  False                    False
884     False   False  False  False  False                    False
885     False   False  False  False  False                    False
886     False   False  False  False  False                    False

     Parents/Children Aboard   Fare
0                      False  False
1                      False  False
2                      False  False
3                      False  False
4                      False  False
..                       ...    ...
882                    False  False
883                    False  False
884                    False  False
885                    False  False
886                    False  False

[887 rows x 8 columns]