In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
data = pd.read_csv("data.csv")
print(data.info())
print(data.isnull())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes
None
   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False    True      False
5    False  False   False      False
6    False   True   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

In [4]:
data['Age'].fillna(data['Age'].mean(),inplace=True)
data['Salary'].fillna(data['Age'].mean(),inplace=True)
print(data.isnull())

   Country    Age  Salary  Purchased
0    False  False   False      False
1    False  False   False      False
2    False  False   False      False
3    False  False   False      False
4    False  False   False      False
5    False  False   False      False
6    False  False   False      False
7    False  False   False      False
8    False  False   False      False
9    False  False   False      False

C:\Users\ppuga\AppData\Local\Temp\ipykernel_24368\1101020786.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(data['Age'].mean(),inplace=True)
C:\Users\ppuga\AppData\Local\Temp\ipykernel_24368\1101020786.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Salary'].fillna(data['Age'].mean(),inplace=True)

In [5]:
data = pd.read_csv("titanic.csv")
print(data.info())
print(data.isnull())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None
     Survived  Pclass   Name    Sex    Age  Siblings/Spouses Aboard  \
0       False   False  False  False  False                    False
1       False   False  False  False  False                    False
2       False   False  False  False  False                    False
3       False   False  False  False  False                    False
4       False   False  False  False  False                    False
..        ...     ...    ...    ...    ...                      ...
882     False   False  False  False  False                    False
883     False   False  False  False  False                    False
884     False   False  False  False  False                    False
885     False   False  False  False  False                    False
886     False   False  False  False  False                    False

     Parents/Children Aboard   Fare
0                      False  False
1                      False  False
2                      False  False
3                      False  False
4                      False  False
..                       ...    ...
882                    False  False
883                    False  False
884                    False  False
885                    False  False
886                    False  False

[887 rows x 8 columns]