In [3]:
import pandas as pd
import numpy as np
lst = ['We','love','coding','in','Jetlearn']
print(lst)
a = np.array(lst)
a1 = pd.DataFrame(lst)
print(a1)

['We', 'love', 'coding', 'in', 'Jetlearn']
          0
0        We
1      love
2    coding
3        in
4  Jetlearn

In [15]:
dict = {'name':["Aparna", "Pankaj", "Sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
a2 = pd.DataFrame(dict)
print(a2)

     name  degree  score
0  Aparna     MBA     90
1  Pankaj     BCA     40
2  Sudhir  M.Tech     80
3   Geeku     MBA     98

In [ ]:
data = pd.read_csv("titanic.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

In [13]:
data = pd.read_csv("iris.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [14]:
person = {'Name':['Alice','Bob','Charlie'],'Age':['25','30','35'],'City':['New York','San Francisco','Los Angeles']}
a3 = pd.DataFrame(person)
print(a3)
person = [{'Name':'Alice','Age':'25','City':'New York'},{'Name':'Bob','Age':'30','City':'San Francisco'},{'Name':'Charlie','Age':'35','City':'Los Angeles'}]
a4 = pd.DataFrame(person)
print(a4)

      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles
      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles

In [19]:
dict = {'name':["Mark", "Eve", "Oliver", "Debbie","Nolan","Cecil","Donald","Rex","Allen","Paul","Kate","Rae","Paul","Art"],
        'gender': ["Male", "Female", "Male", "Female","Male","Male","Male","Male","Male","Male","Female","Female","Male","Male"],
        'age':[20, 20, 13, 38, 46, 50, 44, 20, 47, 42, 20, 20, 20, 48]}
a5 = pd.DataFrame(dict)
print(a5)

      name  gender  age
0     Mark    Male   20
1      Eve  Female   20
2   Oliver    Male   13
3   Debbie  Female   38
4    Nolan    Male   46
5    Cecil    Male   50
6   Donald    Male   44
7      Rex    Male   20
8    Allen    Male   47
9     Paul    Male   42
10    Kate  Female   20
11     Rae  Female   20
12    Paul    Male   20
13     Art    Male   48