In [3]:
import pandas as pd
import numpy as np
lst = ['We','love','coding','in','Jetlearn']
print(lst)
a = np.array(lst)
a1 = pd.DataFrame(lst)
print(a1)

['We', 'love', 'coding', 'in', 'Jetlearn']
          0
0        We
1      love
2    coding
3        in
4  Jetlearn

In [4]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
a2 = pd.DataFrame(dict)
print(a2)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [9]:
data = pd.read_csv("titanic.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None