In [3]:
import pandas as pd
import numpy as np
lst = ['We','love','coding','in','Jetlearn']
print(lst)
a = np.array(lst)
a1 = pd.DataFrame(lst)
print(a1)

['We', 'love', 'coding', 'in', 'Jetlearn']
          0
0        We
1      love
2    coding
3        in
4  Jetlearn

In [4]:
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
a2 = pd.DataFrame(dict)
print(a2)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [ ]:
data = pd.read_csv("titanic.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

In [13]:
data = pd.read_csv("iris.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [14]:
person = {'Name':['Alice','Bob','Charlie'],'Age':['25','30','35'],'City':['New York','San Francisco','Los Angeles']}
a3 = pd.DataFrame(person)
print(a3)
person = [{'Name':'Alice','Age':'25','City':'New York'},{'Name':'Bob','Age':'30','City':'San Francisco'},{'Name':'Charlie','Age':'35','City':'Los Angeles'}]
a4 = pd.DataFrame(person)
print(a4)

      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles
      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles