In [20]:
import pandas as pd
import numpy as np
lst = ['We','love','coding','in','Jetlearn']
print(lst)
a = np.array(lst)
a1 = pd.DataFrame(lst)
print(a1)

['We', 'love', 'coding', 'in', 'Jetlearn']
          0
0        We
1      love
2    coding
3        in
4  Jetlearn

In [21]:
dict = {'name':["Aparna", "Pankaj", "Sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
a2 = pd.DataFrame(dict)
print(a2)

     name  degree  score
0  Aparna     MBA     90
1  Pankaj     BCA     40
2  Sudhir  M.Tech     80
3   Geeku     MBA     98

In [22]:
data = pd.read_csv("titanic.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

In [23]:
data = pd.read_csv("iris.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [24]:
person = {'Name':['Alice','Bob','Charlie'],'Age':['25','30','35'],'City':['New York','San Francisco','Los Angeles']}
a3 = pd.DataFrame(person)
print(a3)
person = [{'Name':'Alice','Age':'25','City':'New York'},{'Name':'Bob','Age':'30','City':'San Francisco'},{'Name':'Charlie','Age':'35','City':'Los Angeles'}]
a4 = pd.DataFrame(person)
print(a4)

      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles
      Name Age           City
0    Alice  25       New York
1      Bob  30  San Francisco
2  Charlie  35    Los Angeles

In [25]:
dict = {'name':["Mark", "Eve", "Oliver", "Debbie","Nolan","Cecil","Donald","Rex","Allen","Paul","Kate","Rae","Paul","Art"],
        'gender': ["Male", "Female", "Male", "Female","Male","Male","Male","Male","Male","Male","Female","Female","Male","Male"],
        'age':[20, 20, 13, 38, 46, 50, 44, 20, 47, 42, 20, 20, 20, 48]}
a5 = pd.DataFrame(dict)
print(a5)

      name  gender  age
0     Mark    Male   20
1      Eve  Female   20
2   Oliver    Male   13
3   Debbie  Female   38
4    Nolan    Male   46
5    Cecil    Male   50
6   Donald    Male   44
7      Rex    Male   20
8    Allen    Male   47
9     Paul    Male   42
10    Kate  Female   20
11     Rae  Female   20
12    Paul    Male   20
13     Art    Male   48

In [29]:
data = pd.read_csv("titanic.csv")
#print(data)
print(data.head())
#Gives the typical summary of data
print(data.info())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

In [31]:
#filtering data based on age
above35 = data[data["Age"]>35]
print(above35.info())
#filter the age above 60 years
above60 = data[data["Age"]>60]
print(above60.info())

<class 'pandas.core.frame.DataFrame'>
Index: 262 entries, 1 to 881
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 262 non-null    int64
 1   Pclass                   262 non-null    int64
 2   Name                     262 non-null    object
 3   Sex                      262 non-null    object
 4   Age                      262 non-null    float64
 5   Siblings/Spouses Aboard  262 non-null    int64
 6   Parents/Children Aboard  262 non-null    int64
 7   Fare                     262 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 18.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 33 to 847
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 26 non-null     int64
 1   Pclass                   26 non-null     int64
 2   Name                     26 non-null     object
 3   Sex                      26 non-null     object
 4   Age                      26 non-null     float64
 5   Siblings/Spouses Aboard  26 non-null     int64
 6   Parents/Children Aboard  26 non-null     int64
 7   Fare                     26 non-null     float64
dtypes: float64(2), int64(4), object(2)
memory usage: 1.8+ KB
None

In [34]:
maleData = data[data["Sex"] == "male"]
print(maleData.info())
femaleData = data[data["Sex"] == "female"]
print(femaleData.info())

<class 'pandas.core.frame.DataFrame'>
Index: 573 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 573 non-null    int64
 1   Pclass                   573 non-null    int64
 2   Name                     573 non-null    object
 3   Sex                      573 non-null    object
 4   Age                      573 non-null    float64
 5   Siblings/Spouses Aboard  573 non-null    int64
 6   Parents/Children Aboard  573 non-null    int64
 7   Fare                     573 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 40.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 314 entries, 1 to 884
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 314 non-null    int64
 1   Pclass                   314 non-null    int64
 2   Name                     314 non-null    object
 3   Sex                      314 non-null    object
 4   Age                      314 non-null    float64
 5   Siblings/Spouses Aboard  314 non-null    int64
 6   Parents/Children Aboard  314 non-null    int64
 7   Fare                     314 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 22.1+ KB
None

In [36]:
maleFirstClass = data[(data["Sex"] == "male") & (data["Pclass"] == 1)]
print(maleFirstClass.info())
femaleSecondClass = data[(data["Sex"] == "female") & (data["Pclass"] == 2)]
print(femaleSecondClass.info())

<class 'pandas.core.frame.DataFrame'>
Index: 122 entries, 6 to 885
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 122 non-null    int64
 1   Pclass                   122 non-null    int64
 2   Name                     122 non-null    object
 3   Sex                      122 non-null    object
 4   Age                      122 non-null    float64
 5   Siblings/Spouses Aboard  122 non-null    int64
 6   Parents/Children Aboard  122 non-null    int64
 7   Fare                     122 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 8.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 76 entries, 9 to 876
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 76 non-null     int64
 1   Pclass                   76 non-null     int64
 2   Name                     76 non-null     object
 3   Sex                      76 non-null     object
 4   Age                      76 non-null     float64
 5   Siblings/Spouses Aboard  76 non-null     int64
 6   Parents/Children Aboard  76 non-null     int64
 7   Fare                     76 non-null     float64
dtypes: float64(2), int64(4), object(2)
memory usage: 5.3+ KB
None

In [37]:
female2and3 = data[(data["Sex"] == "female") & (data["Pclass"] == 2)|(data["Pclass"] == 3)]
print(female2and3.info())

<class 'pandas.core.frame.DataFrame'>
Index: 563 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 563 non-null    int64
 1   Pclass                   563 non-null    int64
 2   Name                     563 non-null    object
 3   Sex                      563 non-null    object
 4   Age                      563 non-null    float64
 5   Siblings/Spouses Aboard  563 non-null    int64
 6   Parents/Children Aboard  563 non-null    int64
 7   Fare                     563 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 39.6+ KB
None

In [39]:
print(data["Age"].mean())
print(data["Fare"].mean())

29.471443066516347
32.30542018038331

In [ ]:
print(data.agg({"Age":["min","max","median"],"Fare":["min","max","median"]}))

          Age      Fare
min      0.42    0.0000
max     80.00  512.3292
median  28.00   14.4542

In [43]:
#Renaming the column names
data_renamed = data.rename(columns = {"Parents/Children Aboard": "New"})
print(data_renamed.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'New', 'Fare'],
      dtype='object')

In [50]:
#Group by data categorically
print(data[["Pclass","Fare"]].groupby("Pclass").mean())

             Fare
Pclass
1       84.154687
2       20.662183
3       13.707707